/build/
/buildoutput/
/distribution/
/run/
/.gradle/
/.idea/
/src-build/build/
/src-build/logs/
/src-updater/build/
/src-common/build/
/src-launcher/build/
/runtimes/x64/release
/runtimes/x64/readme.txt
/runtimes/x64/LICENSE
/runtimes/x64/lib/
/runtimes/x64/legal/
/runtimes/x64/conf/
/runtimes/x64/bin/
!/runtimes/x64/readme.md
/runtimes/x32/release
/runtimes/x32/readme.txt
/runtimes/x32/LICENSE
/runtimes/x32/lib/
/runtimes/x32/legal/
/runtimes/x32/conf/
/runtimes/x32/bin/
!/runtimes/x32/readme.md
/src-build/logs/Build.log
src-common/src/main/resources/
src-common/src/test/
src-launcher/src/test/
