/buildSrc/build/
/build/
/output/
/.nb-gradle/
/buildSrc/.gradle/
/.gradle/
/.idea/
buildSrc/.gradle/2.13/taskArtifacts/cache.properties.lock
/buildoutput/
/buildSrc/logs/
/buildOutput/
/distribution/
/launcher/build/
/common/build/
/BuildSource/build/