.btn {
    -fx-background-radius: 0;
    -fx-background-color: lightgrey;
}

.btn-primary {
    -fx-background-radius: 0;
    -fx-background-color: lightblue;
}

.body {
    -fx-background-color:  rgb(0, 0 0);
}