.menu-item:focused {
     -fx-background-color: rgb(0,0,0);
}

.menu:hover, .menu:showing{
     -fx-background-color: rgb(0,0,0);
}

.button {
     -fx-faint-focus-color: transparent;
     -fx-focus-color: rgba(112, 112, 112, 0.31);
}

.slider {
     -fx-faint-focus-color: transparent;
     -fx-focus-color: rgba(112, 112, 112, 0.31);
}

#media_controls_bar {
    -fx-background-color: rgb(234, 234, 234);
}

#media_control_slider {
    -fx-background-color: rgb(234, 234, 234);
}

#media_play_button {
    -fx-background-color: rgb(234, 234, 234);
}

#media_next_button {
    -fx-background-color: rgb(234, 234, 234);
}

#media_back_button {
    -fx-background-color: rgb(234, 234, 234);
}

#media_previous_button {
    -fx-background-color: rgb(234, 234, 234);
}

#media_forward_button {
    -fx-background-color: rgb(234, 234, 234);
}

.tree-table-view:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: rgba(112, 112, 112, 0.31);
}

#control_search_bar {
  -fx-background-image:url('/images/img_search_24.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: left center;
}

.white_background {
    -fx-background-color: white;
}

.grey_background {
    -fx-background-color: rgb(240, 240, 240);
}

.tree-cell:selected {
  -fx-background-color: lightblue;
}

.tree-view {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: rgba(112, 112, 112, 0.31);
}